<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
	<directoryBrowse enabled="false" />
		<security>  
			<requestFiltering removeServerHeader="true">
                <hiddenSegments>
                    <add segment="config" />
                    <add segment="api" />
                    <add segment="backup" />
                    <add segment="cache" />
                    <add segment="cron" />
                    <add segment="includes" />
                    <add segment="log" />
                    <add segment="modules" />                    
                </hiddenSegments>
            </requestFiltering>
		</security>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
			</files>
		</defaultDocument>
		<caching>
			<profiles>
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".map" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".scss" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
                <add extension=".less" policy="CacheUntilChange" kernelCachePolicy="DontCache" />
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:00:30" />
				<add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
            </profiles>
		</caching>
        <rewrite>
            <rules>
                <rule name="Blocking Rules" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{URL}" pattern="*/api/*.php" />
                        <add input="{URL}" pattern="*/backups/*.php" />
                        <add input="{URL}" pattern="*/backups/*.zip" />
                        <add input="{URL}" pattern="*/cache/*.php" />
                        <add input="{URL}" pattern="*/config/*.php" />
                        <add input="{URL}" pattern="*/cron/*.php" />
                        <add input="{URL}" pattern="*/css/*.php" />
                        <add input="{URL}" pattern="*/images/*.php" />
                        <add input="{URL}" pattern="*/includes/*.php" />
                        <add input="{URL}" pattern="*/log/*.php" />
                        <add input="{URL}" pattern="*/log/*.txt" />
                        <add input="{URL}" pattern="*/modules/*.php" />
                        <add input="{URL}" pattern="*/plugins/*.php" />
                        <add input="{URL}" pattern="*/template/*.php" />
                        <add input="{URL}" pattern="*/tmp/*.php" />
                        <add input="{URL}" pattern="*/uploads/*.php" />
                    </conditions>
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
                </rule>
				<rule name="Common Exploits Prevention" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAny">
                       <add input="{QUERY_STRING}" pattern="base64_encode[^(]*\([^)]*\)" ignoreCase="false" />
                       <add input="{QUERY_STRING}" pattern="(>|%3C)([^s]*s)+cript.*(&lt;|%3E)" />
                       <add input="{QUERY_STRING}" pattern="GLOBALS(=|\[|\%[0-9A-Z]{0,2})" ignoreCase="false" />
                       <add input="{QUERY_STRING}" pattern="_REQUEST(=|\[|\%[0-9A-Z]{0,2})" ignoreCase="false" />
					</conditions>
					<action type="CustomResponse" statusCode="403" statusReason="Forbidden: Access is denied." statusDescription="You do not have permission to view this directory or page using the credentials that you supplied." />
               </rule>
            </rules>
        </rewrite>
		<httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1; mode=block" />
                <add name="Permissions-Policy" value="accelerometer=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), interest-cohort=()" />
                <add name="Referrer-Policy" value="same-origin" />
            </customHeaders>
        </httpProtocol>
	</system.webServer>
</configuration>
